<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBSFN038EA6JTLb1jcwKIDkRSn_x4BgcJw</string>
	<key>GCM_SENDER_ID</key>
	<string>151182768339</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterApp1</string>
	<key>PROJECT_ID</key>
	<string>crisis-mesh-7e39c</string>
	<key>STORAGE_BUCKET</key>
	<string>crisis-mesh-7e39c.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:151182768339:ios:aea9d2639a8ee9d80e3c26</string>
</dict>
</plist>
